<mat-toolbar>
  <p>
    <strong> Dynamic Table sampels </strong>
  </p>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="simple table">
    <app-simple-table></app-simple-table>
  </mat-tab>
  <mat-tab label="selectable table">
    <app-selectable-table></app-selectable-table>
  </mat-tab>
  <mat-tab label="expandable table">
    <app-expandable-table></app-expandable-table>
  </mat-tab>
  <mat-tab label="table with footer">
    <app-table-with-footer></app-table-with-footer
  ></mat-tab>
  <mat-tab label="dynamic table">
    <app-dynamic-table></app-dynamic-table>
  </mat-tab>
</mat-tab-group>
