<mat-button-toggle-group
  name="fontStyle"
  aria-label="Font Style"
  [(value)]="selectionMode"
  class="container"
>
  <mat-button-toggle value="single">Single</mat-button-toggle>
  <mat-button-toggle value="multi">Multi</mat-button-toggle>
  <mat-button-toggle value="none">None</mat-button-toggle>
</mat-button-toggle-group>

<dynamic-mat-table
  [columns]="columns"
  [setting]="setting"
  [showReload]="true"
  direction="ltr"
  [rowSelectionMode]="selectionMode"
  [dataSource]="datasource"
  style="height:70vh"
>
</dynamic-mat-table>
